.ContextMenu{
    z-index: 100;
    background-color: rgb(255, 247, 247);
    width: 300px;
    padding: 10px;
    box-shadow: 0px 1.6px 2.6px rgb(214, 214, 214);
}

.ContextMenu div{
    display: flex;
    line-height: 2rem;
    margin: 2px;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    transition: background-color 0.2s;
}

.ContextMenu div:hover{
    border: solid 1px blue;
    background-color: rgb(245, 244, 244);
    cursor: pointer;
}


.SubList {
    position: absolute;
    top: 0; 
    left: 100%; 
    display: inline-block; 
    border: 1px solid #ccc;
    padding: 5px;
    background-color: rgb(255, 247, 247);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  
  .SubList div {
    width: 200px;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
  }
  
  .SubList div:hover {
    border: none;
    background-color: #d3d3d3;
  }