.fadeIn {
    /* opacity: 0; */
    transform: none;
    transition: all 0.1s cubic-bezier(.36,-0.64,.34,1.76);
}

.fadeInExiting {
    transform: rotateX(-90deg);
    transition: all 0.1s cubic-bezier(.36,-0.64,.34,1.76);
}

.title{
    display: flex;
    font-size: 25px;
    margin: 20px;
    color: rgb(116, 116, 247);
}

.title:hover{
    cursor: pointer;
}
